<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Banking Suite"
       parallel="tests"
       thread-count="2">

    <parameter name="browser" value="chrome"/>

    <listeners>
        <listener class-name="com.nikhil.banking.listeners.TestListener"/>
    </listeners>
    
    <test name="Google Test">

        <classes> 
            <class name="com.nikhil.banking.tests.OrangeHRMLoginTest"/>
            <class name="com.nikhil.banking.tests.OrangeHRMLogoutTest"/>
            <class name="com.nikhil.banking.tests.OrangeHRMNegativeLoginTest"/>
            <class name="com.nikhil.banking.tests.OrangeHRMForgotPasswordTest"/>
        </classes>

    </test>

</suite>